header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #488bf4;
}

header > ul {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

a:active {

  text-decoration: underline blue;
}


.imgLogo {
  height: 100%;
}

.imgBanner {
  height: 100%;
}
